<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127460723959-inddsc6s9gm4h8jock98arfmra8bm2b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127460723959-inddsc6s9gm4h8jock98arfmra8bm2b0</string>
	<key>API_KEY</key>
	<string>AIzaSyDLgwDxFLjrT4aVEBIJyEEM7yZs8HLdco0</string>
	<key>GCM_SENDER_ID</key>
	<string>127460723959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ania.finalproject.chatapp.spreadChat</string>
	<key>PROJECT_ID</key>
	<string>btu-final</string>
	<key>STORAGE_BUCKET</key>
	<string>btu-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127460723959:ios:dd812e48c2f3f6526497f2</string>
</dict>
</plist>